
.base-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    background-color: #056FF6;
    height: 100vh;
    width: 100vw;
    padding: 20px;
  }

  .header-container {
    width: 100%;
  }

  .search-container {
    background-color: red;
    flex-grow: 1;
  }

  .header-title {
    color: white
  }

  @media only screen and (max-width: 600px) {
    .base-container {
      margin: 0;
      box-sizing: border-box;
      background-color: red;
      width: 100vw;
      padding: 20px;
    }
  }
