.results-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}



.title {
    font-size: 30px;
    font-weight: bold;
}